h6{
    font-size: medium;
    font-weight: 200;
    text-align: center;
}
/*- these is called externnal css  */
/*? hear h6 is a element selector or tag selector */

/*+ property and value is called declartion */
/* todo there can be a tag selector, class selector or id selector */