h1{
    font-size: 625%;
}

html{
    font-size: 5px
}

p{
    font-size: 5rem;
    /*+ it depends upon html property */
}

ul{
    font-size: 1px;
}

li{
    font-size: 50em; 
    /* - it depends on parent element property if parent has 10px then it consider 10px  */
}